<div class="pn-main-body">
    <app-sidebar></app-sidebar>
    <div class="pn-profile-main ">
        <div class="pn-header ">
            <div class="pn-header-label">Profile</div>
            <div class="pn-header-name">
               <img class="pn-img-header" src="{{profileDataLocal.profilepicture}}">
                <p class="profile-header-name">{{profileDataLocal.name}}</p>
            </div>
        </div>
       <div class="pn-body ">
           <div class="pn-label">Coming Soon</div>
       </div>
    </div>
</div>





