.pn-justify-content{
    align-items:center;
    justify-content: center;
}

.pn-container-inner{
    height:100%;
    display: flex;
    justify-content: center; 
}

.pn-names-container{
    width: 53em;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 8px 10px #E8E8E8;
    border-radius: 2em;
    color: #484848;
    margin-top: 10em;
    margin-bottom: 10em;
    
}

.pn-select-account{
    display: flex;
    font-size: 2em;
    background-color: rgb(245,245,245);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding:1.6em;
}

.pn-list{
    display:flex;
    flex:4;
    flex-direction:column;
    flex-wrap:nowrap;
    overflow-y: scroll;
}

.pn-name-container{
    display:flex;
    flex-direction:row;
    border-bottom: 2px solid #D3D3D3;
    padding-bottom: 1em;
    padding-top: 1em;
    align-items: center;
   
}

.pn-name{
    display:flex;
    flex:3;
    font-size: 1.5em;
    margin-left:1em;
}

.pn-small-profile{
    border-radius: 50%;
    height: 3em;
    width:3em;  
    margin-left: 3.5em;
}

::-webkit-scrollbar {
    width: 0.5em;
    background: #D3D3D3;
    border-radius: 1em;
  }